#sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
}

#sidebar.active {
    margin-left: 0;
    transform: none;
}

#sidebarCollapse span:first-of-type,
#sidebarCollapse span:nth-of-type(2),
#sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#sidebarCollapse.active span {
    margin: 0 auto;
}

#sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}